/* Test purge of cache */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #001514;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: grid;
	grid-template-rows: 20% 80%;
	/* Header, Content, Footer */
	width: 50%;
	height: 100%;
	border: 3px solid #ccc;
	border-radius: 35px;
	border-color: #001514;
}

.nav {
	background-color: #001514;
	color: white;
	display: flex;
	font-size: 1.5rem;
	border: 1px solid #ccc;
	border-radius: 1px;
	justify-content: space-evenly;
	height: 50px;
	flex-wrap: wrap;
}

.nav-link {
	align-content: center;
	height: 100%;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
}

.nav-link:hover {
	background-color: darkgray;
}

.content {
	background-color: #001514;
	color: white;
	display: flex;
	font-size: 1.5rem;
	min-height: 200px;
	flex-direction: column;
	align-content: center;
	border: 3px solid #ccc;
	border-radius: 15px;
	border-color: #001514;
}

.current-location {
	padding-left: 10px;
	padding-bottom: 10px;
	justify-content: left;
	height: 40px;
	width: 250px;
}

.actual-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-content: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

.card {
	display: flex;
	flex-direction: row;
	border: 1px solid;
	border-radius: 5px;
	border-color: #EAEAEA;
	color: #EAEAEA;
	background-color: #474747;
	padding-left: 10px;
	height: 50px;
	align-content: center;
	align-items: center;
}


.card:hover {
	background-color: darkgray;
}

.Title {
	margin-right: auto;
}

input[type="text"] {
	padding: 8px;
	margin-right: 10px;
	border-radius: 8px;
}

input[type="text"]:hover {
	background-color: salmon;
}


button {
	padding: 8px 12px;
	background-color: #0145EF;
	color: white;
	border: none;
	border-color: #0145EF;
	border-radius: 4px;
	cursor: pointer;
	align-content: center;
}

button:hover {
	background-color: salmon;
}

.complete-button button {
	margin-right: 10px;
	background-color: red;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	align-content: center;
}

.complete-button button:hover {
	background-color: salmon;
}

.points {
	margin-left: auto;
	margin-right: 30px;
}

.score {
	width: 1%;
	color: white;
	text-align: right;
	text-wrap: nowrap;
}

.actual-score {
	justify-items: left;
	padding-left: 20px;
}


/* Hide the div when the screen is less than 600px wide */
@media (max-width: 800px) {
	.score {
		display: none;
	}
}

/* Make the container 100% width when the screen is 600px or smaller */
@media (max-width: 800px) {
	.container {
		width: 100%;
		border-radius: 0;
		/* Optional: Remove rounded corners for a full-width look */
	}

	.nav {
		flex-wrap: wrap;
	}

	.Title {
		font-size: 50%;
	}

	a {
		font-size: 16px;
	}
}
