<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo List</title>
	<link rel="stylesheet" href="/static/styles.css">
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
	<div class="container">
		<nav class="nav">
			<a href="/" style="text-decoration: none; color: inherit;">
				<div class="nav-link">Home</div>
			</a>
			<a href="/quick">
				<div class="nav-link">Quicktasks</div>
			</a>
			<a href="/profile">
				<div class="nav-link">Profile</div>
			</a>
			<a href="/login">
				<div class="nav-link">Login</div>
			</a>
			<a href="logout">
				<div class="nav-link">Logout</div>
			</a>
		</nav>
		<main class="content">
			{{template "content" .}}
		</main>
	</div>
	<div class="score">
		<div class="actual-score">
			<h3>LEVEL: 69</h3>
			<h3>SCORE: 69420</h3>
		</div>
	</div>
</body>

</html>
