<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo List</title>
	<link rel="stylesheet" href="/static/styles.css">
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
	<div class="container">
		<div class="logo">
			<h1>Tomic Leveling</h1>
		</div>
		<div class="navbar">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/quick">Quicktasks</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="content">
		{{template "content" .}}
	</div>
</body>

</html>
